# Java
*.class
*.jar
*.war
*.ear
target/

# Maven
.mvn/
mvnw
mvnw.cmd

# Node
node_modules/
dist/
.env

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/

# Docker
postgres_data/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
tfplan

# Binary Tools & Zips
infra/apache-maven-*/
*.zip
*.pptx
*.pdf


